{% extends "base.html" %}

{% block page_title %}
  Books
{% endblock page_title %}

{% block content %}

<div class="container mx-auto">
    <div class="mt-8 px-5">
        <div class="text-center">
    	      <span class="text-3xl font-medium">Books</a>
        </div>
        <div class="grid grid-cols-6 gap-x-8 gap-y-16 -mx-24 mt-6 mb-16">
    	      {% for book in books %}
                {% include "mixins/book.html" with book=book %}
    	      {% endfor %}
        </div>
    </div>

    <div class="text-center font-medium mb-6">
        {% if page_obj.has_previous %}
            <a class="bg-blue-400 hover:bg-blue-600 text-white py-1 px-2 rounded" href="?page={{page_obj.previous_page_number}}"><i class="fas fa-chevron-left"></i></a>
        {% endif %}

        <span class="font-medium text-blue-600 mx-2">
            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        </span>

        {% if page_obj.has_next  %}
            <a class="bg-blue-400 hover:bg-blue-600 text-white py-1 px-2 rounded" href="?page={{page_obj.next_page_number}}"><i class="fas fa-chevron-right"></i></a>
        {% endif %}
    </div>
</div>

{% endblock content %}