{% extends "base.html" %}

{% block page_title %}
  {{movie.title}}
{% endblock page_title %}

{% block content %}

<div class="mt-8 container mx-auto flex flex-col items-center">
    
    <div class="flex">
      <span class="font-normal text-xl block mr-1">{{movie.title}}</span>
      <span class="text-sm text-gray-500 top-1">{{movie.year}}</span>
    </div>

    <div class="w-1/5 h-104 shadow bg-cover bg-center rounded-lg my-6" style="background-image: url({{movie.cover_image.url}});"></div>
    
    <div class="flex">
        <div class="w-4/5 overflow-hidden flex mr-2">
            <span class="uppercase font-medium text-xs border border-black text-black py-px px-1 mr-1.5">
                {{movie.category}}
            </span>
        </div>
        <span class="text-sm flex items-center">
            <i class="fas fa-star text-red-500 text-xs mr-px"></i> 
            {{movie.rating}}
        </span>
    </div>
    
    <div class="mt-4">Director:
        <a href="{% url 'people:person' movie.director.pk %}" class="text-blue-400 hover:text-blue-600">{{movie.director}}</a>
    </div>

    <div class="my-2">Cast: 
        {% for person in movie.cast.all %} 
            <a href="{% url 'people:person' person.pk %}" class="text-blue-400 hover:text-blue-600">{{person}}{% if not forloop.last %}<span class="text-gray-800">, </span>{% endif %}</a> 
      {% endfor %}
    </div>

    <div class="flex mt-2 mb-6">
        <a class="bg-blue-400 hover:bg-blue-600 text-white py-2 px-4 rounded shadow" href="{% url 'movies:update' movie.pk %}">Edit Movie</a>
        {% if user.is_authenticated %}
            {% include "mixins/fav_button.html" with obj=movie kind='movie' %}
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        <form action="{% url 'reviews:create' 'movie' movie.pk %}" method="post" class="flex w-1/2 mb-8">
            {% csrf_token %}
            <input name="text" placeholder="Write a review..." class="mr-2 w-3/4 border" required />
            <select name="rating" required class="w-1/6 mr-2 border">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5 selected>5</option>
            </select>
            <button class="bg-blue-400 hover:bg-blue-600 text-white py-2 px-4 rounded shadow">Submit</button>
        </form>
    {% endif %}

    <div class="flex flex-col items-start mb-8">
        {% if movie.reviews %}
            {% for review in movie.reviews.all %}
                <div class="flex">
                    {{review.created_by}}: 
                    {{review}}
                    {% with ''|center:review.rating as range %}
                    <span class="block ml-2 text-sm flex items-center">
                    {% for _ in range %}
                        <i class="fas fa-star text-red-500 text-xs mr-px"></i> 
                    {% endfor %}
                    </span>
                    {% endwith %}
                    {% if user.is_authenticated %}
                        {% if review.created_by == user %}
                            <a href="{% url 'reviews:delete' review.pk %}"><i class="fas fa-times ml-2 text-red-700"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>


{% endblock content %}